block styles
  link(rel="stylesheet", type="text/css", href="./dist/style/css/main.css")

block content

doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    |     
    meta(name='author', content='Test to build up HTML skills.')
    |     
    title Validate
    |     
    link(rel='icon', href='/style/image/test.jpeg', type='image/test-icon')
    |     
    link(rel='stylesheet', href='/style/css/main.css', type='text/css')
  body
    header
      img(src='/style/image/test2.jpeg', alt='testing if the image of customer service works', title='test', width='1300', height='300')
      |     
      .header-text
        h1 WebDevTeam Support
        |         
        h2 We provide a solution for all platforms
      |     
      nav.website-navigation-bar
        a(href='index.html')
          h3 Home
        |         
        h3 Our products
        |         
        h3 Our services
        |         
        h3 Meet our DevTeam
        |         
        h3 Prices
        |         
        a(href='contact.html')
          h3 Contact Us
    h2 Thanks for your input!
    h3 Our team shall answer you with lightspeed and diligency!
    div The usual waiting time is currently of and maximum is 48 working hours
    .clock-container
      .clock-col
        p.clock-day.clock-timer
        |       
        p.clock-label
          | Day
      |     
      .clock-col
        p.clock-hours.clock-timer
        |       
        p.clock-label
          | Hours
      |     
      .clock-col
        p.clock-minutes.clock-timer
        |       
        p.clock-label
          | Minutes
      |     
      .clock-col
        p.clock-seconds.clock-timer
        |       
        p.clock-label
          | Seconds
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js')
    |   
    script(src='/app/clock.js', defer='')
    |   
    canvas.dots(width='600', height='400')
    |   
    script(src='/app/dots.js', defer='')
    footer
      img(src='/style/image/test3.jpeg', type='footer picture', alt='footer picture representing a thank you written in every language on a post-it, each one held by a hand')
      |     
      .footer-text
        h3 Simplon Dev since 2023
        |         
        dl
          dt From HTML to DOCKER and beyond
          |             
          dd
            | We got you 
            strong Covered!
        |         
        dl
          dt We would like to thank everyone and wish you a Merry Christmas Eve!
          |             
          dd
            | Enjoy Snowmen, snowballs, Christmas Java dreams, and not to forget about the New Year 
            strong Blog!
        |         
        p
          | &copy; 2023 Blind&amp;Deaf. All rights reserved. SimplonTraining
          small &trade;
      |     
      .social-networks
        a(href='facebook') Social Network 1
        |         
        a(href='instagram') Social Network 2
